{% extends 'newsfeed/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'dashboard/css/style1.css' %}">{% endblock css %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 mt-4 offset-1">
                <h5 class=text-center>Login Form</h5>
                <br>
                {% if messages %}
                    {% for message in messages %}
                        <span {% if message.tags %} class="{{message.tags}}" {% endif %} >{{message}}</span>
                    {% endfor %}
                {% endif %}
                {{form.non_field_errors}}
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% for fm in form %}
                        {{fm.label_tag}}
                        {{fm}}
                        <span class="errorlist">{{fm.errors|striptags}}</span>
                        <br>
                    {% endfor %}
                    <input type="submit" value="Login" class="btn btn-primary">
                    <a href="{% url 'resetpassword' %}" class="btn btn-warning" >Forgot Password ?</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}