{% extends 'newsfeed/base.html' %}
{% load static %}

{% block title %}Reset Password Complete{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'dashboard/css/style1.css' %}">{% endblock css %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 mt-4 offset-1">
                {% if messages %}
                    {% for message in messages %}
                        <span {% if message.tags %} class="{{message.tags}}" {% endif %} >{{message}}</span>
                    {% endfor %}
                {% endif %}
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
{% endblock content %}