{% extends 'newsfeed/base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'dashboard/css/style1.css' %}">{% endblock css %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 mt-4 offset-1">
                <h5>Enter your email:</h5>
                <br>
                {{form.non_field_errors}}
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% for fm in form %}
                        {{fm.label_tag}}
                        {{fm}}
                        <span class="errorlist">{{fm.errors|striptags}}</span>
                        <br>
                    {% endfor %}
                    <input type="submit" value="Reset Password" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}